/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 1, 2020, 10:45:35 AM
    Author     : vaani
*/

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}
#wrapper{
    width: 100%;
	height: 120%
    margin: 0;
    padding: 0;
    background-color: #BBB9A4;
    position: relative;
}
#wrapperFaktura{
    width: 100%;
	height: 115vh;
    margin: 0;
    padding: 0;
    background-color: #BBB9A4;
    position: relative;
    border: 1px solid black;
}
#wrapperKontakt{
    margin: 0px auto;
    width: 100vw;
    height: 113vh;
    padding: 0;
    position: relative;
}
#wrapperUpis{
    margin: 0px auto;
    width: 100vw;
    height: 60vh;
    padding: 0;
    position: relative;
}
#top{
    width: 93%;
    height: 120vh;
    background-image: url(images/bckg.png);
    background-repeat: no-repeat;
    background-size: cover;    
    margin-left: 3.5%;
    border-radius: 20px;  
    border: 1px solid black;
}
#topFaktura{
    width: 93%;
    height: 121vh;
    background-image: url(images/bckg.png);
    background-repeat: no-repeat;
    background-size: cover;    
    margin-left: 3.5%;
    border-radius: 20px;  
    border: 1px solid black;
}
#header{
    width: 100%;
    height: 13vh;
    z-index: 0;
}
#headerUpis{
    width: 100%;
    height: 22vh;
    z-index: 0;
}

#logo{
    float: left;
    background-image: url(images/logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 66px;
    height: 76px;
      
  }
  #menu{
      float: right;
      width: 70%;
      height: 100%;
      margin-top: 2vh;
      margin-right: 3vh;
  }
  #menu ul.navigacija{
      float: left;
      padding: 0;

  }
  #menu ul.navigacija li{
      list-style-type: none;
      padding: 1.5vh;
      float: left;
      margin-left: 2.7vw;
  }
  li {
   
  }
  #menu ul.navigacija li:hover{
      border-bottom: solid #BBB9A4;
  }
  #menu ul.navigacija li:active{
      border-bottom: solid hotpink;
  }
  #menu ul.navigacija li a{
      text-decoration: none;
      float: left;
      text-align: center;
      font-size: 1.5vw;
      color: #7e3ad8;
      display: block;
      position: relative;
  }
  #headerText{
      text-align: center;
      margin-top: 5vh;
      font-size: 4vh;
      position: sticky;
      z-index: 0;
      color: #fcffb1;
      text-shadow: 2px 0 0 #45334c, -2px 0 0 #45334c, 0 2px 0 #45334c, 0 -2px 0 #45334c, 1px 1px #45334c, -1px -1px 0 #45334c, 1px -1px 0 #45334c, -1px 1px 0 #45334c;
  }
  #bodyKontakt{
    margin: 0px auto;
    width: 100vw;
    height: 84%;
    background-color: #BBB9A4;
}
#formaWrapper{
    width: 70%;
    margin: 0px auto;
    height: 100%;
    border: 1px solid #BBB9A4;
}

#forma{
    margin-top: 2%;
    position: relative;
}
input[type=text], select, textarea ,[type=email] {
  width: 100%; /* Full width */
  background-color: white;
  padding: 1vh; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 1%; /* Add a top margin */
  margin-bottom: 1%; /* Bottom margin */
}
input[type=submit] {
  background-color: #79002D;
  width: 15%;
  color: #fcffb1;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.star{
    color: red;
}
  #txtAreaDiv{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  #txtArea{
      margin-top: 0.5%;
    border: 1px solid black;
    background-color: #BBB9A4;
  }
  #fileUpload{
    margin-left: 45%;
  }
  input[type=submit]{
    background-color: red;
    border: 1px solid black;
    color: whitesmoke;
    margin-top: 5px;
  }
#footer{
    width: 100%;
    height: 28vh;
}
#footerFaktura{
    width: 100%;
    height: 8vh;
}
#footerUpis{
    width: 100%;
    height: 18vh;
}
#gfooter{
    margin-top: 1vh;
    width: 93%;
    margin-left: 3.5%;
    height: 20vh;
    background-color: #7e3ad8;
    border-radius: 20px;
    position: relative;
    
}
#dfooter{
    width: 100%;
    height: 7vh;
    margin-top: 1vh;
    background-color: black;
    position: relative;
}
#dfooterUpis{
    width: 100%;
    height: 17vh;
    margin-top: 1vh;
    background-color: black;
    position: relative;
}
#ftext1{
    margin-top: 1vh;
    margin-left: 2vh;
    color: #fcffb1;
}
#ftext2{
    margin-left: 2vh;
    color: #fcffb1;
}
#ftext3{
    margin-left: 2vh;
    color: #fcffb1;
}
#ftext4{
    margin-left: 2vh;
    color: gold;
}
#copyright{
    float: left;
    margin-left: 2.5vw;
    font-size: 2rem;
    margin-top: 1vh;
}

#lab1{
	text-align: center;
	width: 10vw;
	height: 7vh;
}
.cleaner{
    clear: both;
}
.dropbtn {
      text-decoration: none;
      float: left;
      text-align: center;
      font-size: 1.5vw;
      color: #7e3ad8;
      display: block;
      position: relative;
}
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100px;
  margin-top: 30px;
  z-index: 1;
}
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}
